sh/**************會員資料頁面***********************/
#member-info-title{font-family:myFirstFont;
font-size:30pt;
text-align:center;
margin-top:15px;
color:#777777;
}

#member-info{
			 margin-top:30px;
			 margin-bottom:100px;
		text-align:center;
	
}

#member-info-pic{
				width:15%;
				margin:0 auto;
				
}

#member-info-pic>img{
				width:100%;
					border-radius:10px;
	
}

#member-info-detail{
	

margin:0 auto;
margin-top:20px;
}

.member-information{
	
	padding:20px;
	font-size:10pt;

}

.member-information-content{
	
	color: #BD9F87;
}




/************商品查詢頁面*******************/

#product-info-title{
	
font-family:myFirstFont;
font-size:30pt;
text-align:center;
margin-top:15px;
color:#777777;

}

#product-info-show{
	width:100%;
	border:1px solid #BD9F87;
	margin-top:15px;
	margin-bottom:30px;
}

#product-info-pic{
	
width:40%;
float:left;
}


#product-info-main-pic{
	width:100%;
	border-bottom:1px solid #BD9F87;
	border-right:1px solid #BD9F87;
}



#product-info-main-pic>img{
	width:100%
	
}

#product-info-other-pic{
	width:100%;
}

.product-other-pic{
	width:33.33%;
	float:left;
	border-right:1px solid #BD9F87;
	
}



#product-info-detail
{
	width:50%;
	float:left;
	padding-left:15px;
}

.price{font-family:myFirstFont;
font-size:20pt;
color:#777777;
}

#product-info-detail>select{width:300px;}

.pay{border:1px solid #BD9F87;
          width:150px;
		  padding:20px;
		  border-radius:3px;}
		  
.putinshoppingcart
{border:1px solid #BD9F87;
          width:150px;
		  padding:20px;
		  border-radius:3px;
		  }
		  
#dashboard{
	margin-top:50px;
	
}

/******訂單查詢頁面*********/

#check-order-title{
	
font-family:myFirstFont;
font-size:30pt;
text-align:center;
margin-top:15px;
color:#777777;
}

#enter-order-number{
	text-align:center;	

	border:1px solid #BD9F87;
	padding-top:30px;
	padding-bottom:30px;
	color:#003D60;
	font-size:10pt;
	width:50%;/*整體頁面之50%*/
	margin:25px auto;
	border-radius:3px;
	box-shadow: 1px 1px 1px #808080;
	
	}

#enter-order-number>input{
width:350px;}

#show-order-info{
				margin-top:80px;
				text-align:center;
					box-shadow: 1px 1px 1px #808080;
						border:1px solid #BD9F87;
						padding:10px;
				
}

#toggle-other-order{
	
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
}

/*******結帳表格*******/
td{
		border-top:1px solid #BD9F87;
		
}


table{
		border-collapse:collapse;
		width:100%;
		margin:15px auto;
		
}

table>caption{font-size:30pt;
              text-align:center;
			  font-family:myFirstFont;}

			  
			  

			  
.check-bill-pics{width:20%;
				}	

	

.check-bill-title{width:20%;
text-align:center;
}	

.check-bill-space{width:30%;}  



.check-bill-total{height:50px;}

.check-bill-total-number{

font-size:13pt;
}

.check-bill-price{
	font-size:13pt;
		text-align:left;

}


.check-bill-coupon{height:50px;}
.check-bill-coupon-total{
font-size:13pt;	
}


tr:nth-child(2n){
	background-color:#EBEBEB;
}

tr:last-child{
	background-color:white;

}


#consumer-info{font-size:13pt;
               border:1px solid  #BD9F87;
			   padding-top:30px;
			   padding-left:20px;
			   padding-bottom:30px;
			   margin-bottom:20px;
			   margin-top:30px;}
			   
			   
#submit-button{text-align:center;
margin-bottom:20px;}
			   
footer{width:100%;
	background-color:#BD9F87;
	font-family:myFirstFont;
	font-size:25pt;
	text-align:center;
	color:white;}			   
		   

/*******網頁側面標籤**************/		  
#side-tag{
	position:absolute;
	top:57px;
	right:-50px;
	border:1px solid;
	
	background-color:rgba(6, 40, 57 ,1);
	border-color:#BD9F87;
	width:50px;
	color:white;
	text-align:center;
	font-family:myFirstFont;
			box-shadow: 1px 1px 1px #808080;
			padding-top:10px;
			padding-bottom:10px;
			border-top-right-radius:10px;
			border-bottom-right-radius:10px;
	
}



/****通用設定*****/

*{
box-sizing:border-box;
}


@font-face{     
				/*設定自訂字型*/
				font-family:myFirstFont;
				src: url("../fonts/SignPainter-HouseScript.woff");
				src: url("../fonts/SignPainter-HouseScript.ttf");
}



#eliminate-other-css{
		/*將瀏覽器預設的8 px margin去掉*/
		margin:0;
		/*設定字型群集*/
	    font-family:"Noto Sans TC","微軟正黑體","Microsoft JhengHei","Georgia";
}

.special-font{
			/*設定自行為自訂字型*/
	         font-family:myFirstFont;
}

.hoverpointer{
				/*設定為pointer*/
				cursor:pointer;
	
}




/*設定欄位寬度*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*類別代有col-值者,向左漂浮*/
/* [class*="col-"] {float: left;} */

/*每一排後結束漂浮狀態*/
.row::after{
    content: "";
    clear: both;
    display: table;
}







/******index-page-css******/



#container{
				/*設定網頁體置中*/
				width:80%;
				margin:0 auto;
}

.clearfix{
			/*結束float*/
			clear:both;
}


header{
		/*先前有設定過container,整體網頁置中*/
		/*設定寬度為container的100%*/
		width:100%;
		/*設定position relative讓nav定位
		/*此行目前用不到,因nav設定為fixed而非absolute*/
		position:relative;
}


#logo{
			/*設定Logo置中*/
			margin:0 auto;
			text-align:center;
}

#logo>img{
				/*設定Logo圖片尺寸*/
				width:96px;
				height:137px;
				/*使logo向下移動,頂端與nav切齊*/
				margin-top:40px;	
          		
}

#tag>ul{
			/*設定tag底下ul的樣式*/
           list-style-type:none;
			/*將左padding取消*/
			padding-left:0;
			/*將上下margin取消*/
			margin-top:0;
			margin-bottom:0;
			text-align:center;
}


#tag li{
			/*設定tag底下li的樣式*/			
			font-size:10pt;
			color:#003D60;/*藏青色*/
			/*設定標籤內的文字 距離框線的距離*/
			padding:2px;
			/*設定標籤的外框線 且下框線由hr取代*/
			border-top:solid 1px;
			border-left:solid 1px;
			border-right:solid 1px;
			border-top-left-radius:2px;
			border-top-right-radius:2px;
			border-color:#BD9F87;/*印金色*/
			/*設定標籤寬度*/
			width:160px;
			/*將標籤置中*/
			margin:0 auto;
			/*使標籤和logo分開些許距離*/
			margin-top:20px;
		
}

.horizon{
	/*設定水平線樣式*/
	/*將預設上下margin取消*/
	margin-top:0;
	margin-bottom:0;
	/*將預設border取消*/
	border:0;
	/*設定高度*/
	height:0.5pt;   
	background-color:#BD9F87;/*印金色*/
}

nav>ul{
			/*設定nav底下ul的樣式*/
			list-style-type:none;
			/*將預設的左padding取消*/
			padding-left:0;
			/*將預設的上下margin取消*/
			margin-top:0;
			margin-bottom:0;
}


nav li{
			/*設定nav底下li的樣式*/
			font-size:13px;
			color:#b3b3b3;/*灰色*/
			margin:0 10px;
			/*設定背景顏色為白色*/
			background-color:rgba(255, 255, 255 ,1);
			/*設定文字內容與框線距離*/
			padding-left:10px;
			padding-right:10px;
			padding-top:5px;
			padding-bottom:5px;
			/*設定框線樣式*/
			border:solid;
			border-width:1px;
			border-color:#BD9F87;/*印金色*/
			border-radius:2px;
		    /*向左漂浮*/
			float:left;
			box-shadow: 1px 1px 1px #808080;
}

nav{
		/*讓nav定位在網頁右上角*/
	    position:fixed;
		top:5px;
		right:1px;
		z-index:1;
}

{padding-right:2px;}


#search-block{
			border:none;/*將input外框取消*/
			padding-bottom:0;/*將下方padding取消使格子看起來一樣大 */
			background-color:rgba(255, 255, 255,);
			 
}

#display{
			/*使display區塊大小符合container大小*/
			/*container已設定為整體網頁的90%*/
			width:100%;
			/*設定區塊上下margin*/
			margin-top:10px;
			margin-bottom:10px;
}

/* #display>img{
					將圖片設定為符合display區塊的大小
					width:100%;
					height:auto;
					border-bottom:solid;
					border-width:1px;
					border-color:#BD9F87;印金色
} */


/*****以下開始加入各個套件的樣式表*****/


/*****slider-function****/
.slider-container,.carousel,.carousel-inner{width:100%;}
.item{
		/*控制廣告橫幅slider的圖片大小*/
		width:100%;
		height:100%;
		
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
						/*使照片符合slider的div大小*/
						width:100%;
						height:100%;
}

#myCarousel a{
			/*取消slider陰影*//*0202*/
			background-image: none;
}


	

/*******left-panel-page*****/


#left-panel{
			width:20%;
			height:100%;
			background-color:rgba(6, 40, 57 ,1);
			z-index:1;
			position:fixed;
			/*display: none;*/
			left: -20%;/*0202*/
			border-right:solid 1px;
			border-color:#BD9F87;
			text-align:center;
			box-shadow: 1px 1px 1px #808080;
	
}	



#category-title{
				font-size:30pt;
				color:white;
}
	
#left-panel > ul{
	list-style-type:none;
	font-family:myFirstFont;
	font-size:20pt;
	color:white;
	padding-left:0;
}



/******left-shopping-cart*****/
#left-shopping-cart{
			width:20%;
			height:100%;
			background-color:rgba(6, 40, 57 ,1);
			z-index:1;
			position:fixed;
			/*display: none;*/
			left: -20%;/*0202*/
			border-right:solid 1px;
			border-color:#BD9F87;
			text-align:center;
			box-shadow: 1px 1px 1px #808080;

}	

#shopping-cart-title{
				font-size:30pt;
				color:white;
}
	
#left-shopping-cart > ul{
	list-style-type:none;
	font-family:myFirstFont;
	font-size:20pt;
	color:white;
	padding-left:0;
}

#for_scroll{
		overflow:scroll;
		overflow-x:hidden;
		height:55%;
}

.purchase-details{
margin-top:5px;
text-align:left;

}

.purchase-pic{
float:left;
width:50%;
}

.purchase-pic>img{
	width:100%;
	height:150px;
	border-radius:3px;
}


.purchase-content{
float:left;
width:50%;
font-size:13pt;
color:white;
text-align:center;}

.purchase-content select {width:70%;
color:black;}

.purchase-content-price
{padding-top:10px;
padding-bottom:10px;
background-color:#777777;
border-top:1px solid #BD9F87;
border-bottom:1px solid #BD9F87;
border-radius:2px;}	

.purchase-tips-details{
	/* border-top:1px solid #BD9F87; */

	font-size:10pt;
	color:white;
	text-align:center;
	padding:25px;
}

.purchase-button{border-top:1px solid #BD9F87;
font-family:myFirstFont;
	font-size:15pt;
	color:white;
	text-align:center;
		padding:25px;
}

.spinner_for_sp_cart{/*購物車增減數量按鈕*/
	width: 20px;
	
}

/*******login-page-css*****/

#login-page{
			background-color:hsla(0, 0%, 100%,1);
			display:none;
			/*使login-page置中*/
			width:600px;
			height:300px;
			left:50%; 
			top:50%;
			margin-left:-300px;
			margin-top:-150px;
			z-index:3;
			position: fixed;
			background: url(../images/test.png);
			border:solid 1px;
			border-color:#BD9F87;
			border-radius:3px;
			box-shadow: 2px 2px 20px #808080;
}
			


.login-background-color{
						/*登入頁面背景顏色*/
						width:100%;/*1920px;*/
						height:100%;/*1080px;*/
						/*background:rgba(204,204,204,0.9);*/
						position: fixed;
						z-index: 2; 
						display: none;
					    background: url(../images/test2.jpg);
					 
   } 
   
#login-page-content{
					text-align:center;/*使所有內容置中*/
					width:100%;}

#login-page-content>.fa-times{
								font-size: 20pt;
								float: right;
								color:white;
							    margin-top:5px;
								margin-right:5px;
}


#login-page-logo>img{
					/*設定logo大小 */
					width:134px;
					height:56px;
				
	
}

#login-page-info>input{
						display:block;
						margin:0 auto;
						margin-top:15px;
						
}

.login-by-facebook{
				  font-size:10pt;
				  line-height:30px;
				  font-weight:bold;
				  	font-family:myFirstFont;
				
}


.forget-password{
				  font-size:10pt;
				  line-height:50px;
				  font-weight:bold;
				  font-family:myFirstFont;
				
				
}


.tips{
	  font-family:myFirstFont;
	  color:black;
	  font-size:30pt;
	  margin-top:100px;

	  
}



 
 
/**********Masonry css for percent*************/
	 
	 
.grid{background:"";/*調整masonry div 背景顏色*/}


.grid-sizer,.grid-item{width: 24.4%;/*調整masonry格子寬度*/}

.gutter-sizer{ width: 0.8%;/*控制格子左右寬度*/}

.grid-item{
				/*調整masonry格子樣式*/
				/*height:600px;*/
				float: left;
				background-color: "";
				border: 1px solid;
				border-color: #BD9F87;
				border-radius: 2px;
				box-sizing: border-box;
				margin-bottom: 10px;
				/*box-shadow:1px 1px 10px #000000;*/
				font-family:"微軟正黑體","Microsoft JhengHei","Georgia";
				
}

/*調整masonry格子高度*/
/*.grid-item--height2 { height: 500px; }
.grid-item--height3 { height: 400px; }
.grid-item--height4 { height: 300px; }*/


.grid:after {
				content: '';
				display: block;
				clear: both;
}	

/***************Grid-item 背景色****************/

.grid-item-color-0{
	background: #EAE6DE;
}
.grid-item-color-1{
	background: #E5E4E3;
}
.grid-item-color-2{
	background: #EAE4E3;
}
.grid-item-color-3{
	background: #60B9BD;
}
.grid-item-color-4{
	background: #E7E1D9;
}
.grid-item-color-5{
	background: #F6DDC0;
}
.grid-item-color-6{
	background: #F0D1A3;
}
.grid-item-color-7{
	background: #F0D4C2;
}
.grid-item-color-8{
	background: #F1D3BA;
}
.grid-item-color-9{
	background: #EAE4E3;
}
.grid-item-color-10{
	background: #F5F2CE;
}
.grid-item-color-l1{
	background: #D7B7A7;
}


/**********Masonry css for pixel version*************/

/*.grid{
	background: #EEE;
    margin: 0 auto;
}

.grid-item{
		  width: 270px;
		  height:600px;
		  float: left;
		  background:#BD9F87;
		  border: 2px solid #333;
		  border-color: hsla(0, 0%, 0%, 0.5);
		  border-radius: 5px;
		  box-sizing: border-box;
		}
		
.grid-item--height2 { height: 500px; }
.grid-item--height3 { height: 400px; }
.grid-item--height4 { height: 300px; }


.grid::after {
		  content: "";
		  display: block;
		  clear: both;
}	
*/



/******調整masonry商品呈現區塊的樣式***********/

#masonry{
		/*調整masonry整體div與上方slider div距離*/
		margin-top:10px;
}


.merchandise-show{
					/*使masonry內部放置所有資訊的大div寬度都符合每個格子大小*/
					width:100%;
}


.pic-show-pic{
				/*調整masonry內部置放圖片div內圖片寬度符合外部div寬度大小*/
				width:100%;
				height:auto;
}

.pic-show-pic>img{width:100%;
height:auto;}


.text-show{width:100%;}




.info-show{
				/*使info-show-button按鈕靠右對齊*/
				text-align:center;
				/*info-show div下方放置一條水平線*/
				border-bottom:solid;
				border-width:1px;
				border-color:white;
				/*控制寬度高度*/
		        width:100%;
			    height:10%;
				/*調整字體大小與位置和顏色*/
				font-size:15pt;
				padding-bottom:5px;
				color:#000000;/*黑色*/
}


.nav-show{
	
				/*調整下方一鍵購買與分享,購物車按鈕的整體高度與寬度*/
				width:100%;
				height:30%;
			
}

.buy-instantly{
						/*一鍵購買的樣式調整*/
						text-align:center;
						font-size:10pt;
						color:black;
						height:15%;/*高度佔15% 另外15%給shopping-cart div*/
						width:100%;
						
						/*調整整體文字的距離*/
						padding-top:5px;
						padding-bottom:5px;
}
				
				
.buy-instantly-button{
						border:solid 1px;
						border-color:#BD9F87;
						padding:5px 10px;
						border-radius:3px;
						font-family:myFirstFont;
						font-size:15pt;
						
}

.shopping-cart{
						
						width:100%;
						height:15%;/*與上方一鍵購買區塊各佔15% 總共等於nav show div的30%*/
						color:#000000;/*調整按鈕顏色為 黑色*/
						font-size:14pt;/*調整按鈕大小*/
						margin-top:10px;
						border-top:solid 1px;
						border-color: #BD9F87;
						
						
}




.shopping-cart-button1{
								/*向左漂浮*/
								float:left;
                                width:49%;/*寬度與右邊button一樣都為49% 留點空間給border*/
								text-align:center;
								display:inline-block;
								
								/*設置右方border*/
								border-right:solid;
								border-width:1px;
								border-color: #BD9F87;
							
								
								/*調整整體文字距離*/
								padding-top:5px;
								padding-bottom:5px;
								
								/*陰影*/
								
						}

.shopping-cart-button2{
									width:49%;/*寬度與左邊button一樣都為49% 留點空間給border*/
									text-align:center;
									display:inline-block;
									
									/*調整整體文字距離*/
									padding-top:5px;
									padding-bottom:5px;
						         /*陰影*/
								
}







.merchandise-title{
							/*調整h1樣式/調整masonry商品文案標題*/
							font-size:12pt;
							text-align:center;
							font-weight:normal;
							
}
.merchandise-content{
								/*調整h1樣式/調整masonry商品文案內容*/
								font-size:10pt;
								text-align:center;
								font-weight:normal;
}

.merchandise-price{
							font-size:10pt;
							text-align:center;
}

.line-through{
					text-decoration:line-through;
					font-size:9pt;
					color:red;

}



